<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../styles/styles.css">

</head>
<body class="body">
    <header class="navbar">
        Minha Rosa Azul
    </header>
    <main class="principal">
        <div class="image-container">
            <img class="main-foto" src="../assets/love.png" alt="Imagem Principal">
            <img  class="rose-azul-1" src="../assets/rose-6-svgrepo-com.svg" alt="">
            <img  class="rose-azul-2" src="../assets/rose-6-svgrepo-com.svg" alt="">
        </div>

        <audio id="audio" controls>
            <source src="../sounds/WhatsApp Audio 2024-11-14 at 12.19.06.mpeg" type="audio/mp3">
        </audio>

        <h2><i class="bi bi-stars"></i><i class="bi bi-stars"></i>Coisas Sobre Você<i class="bi bi-stars"></i><i class="bi bi-stars"></i></h2>
        <div class="coisas-sobre-vc-container">
            <span class="coisas-sobre-vc"><i class="bi bi-stars"></i>O seu sorriso me devora</span>
            <span class="coisas-sobre-vc"><i class="bi bi-stars"></i>Os seus olhares me hipnotizam</span>
            <span class="coisas-sobre-vc"><i class="bi bi-stars"></i>Os seus cabelos enrolados se enrolam na minha alma</span>
            <span class="coisas-sobre-vc"><i class="bi bi-stars"></i>Seu carisma, companheirismo e amizade me cativam</span>
            <span class="coisas-sobre-vc"><i class="bi bi-stars"></i>Os seus abraços me confortam</span>
            <span class="coisas-sobre-vc"><i class="bi bi-stars"></i>Os seus beijos me levam para outro mundo</span>
            <span class="coisas-sobre-vc"><i class="bi bi-stars"></i>Seu simples toque me excita</span>
            <span class="coisas-sobre-vc"><i class="bi bi-stars"></i>Sua inteligência ilumina meu caminho de uma forma única</span>
            <span class="coisas-sobre-vc"><i class="bi bi-stars"></i>Tudo em você captura a minha atenção e me faz querer te amar cada vez mais</span>
            <span class="coisas-sobre-vc"><i class="bi bi-stars"></i>Você é o amor da minha vida, com quem vou passar o resto dos meus dias, e simples palavras não são capazes de descrever o quanto eu te amo.</span>

        </div>

        <h2><i class="bi bi-flower2"></i><i class="bi bi-flower2"></i> Minha Rosa Azul <i class="bi bi-flower2"></i><i class="bi bi-flower2"></i></h2>


        <p>
            E se adormecesses?<br>
            E se, no teu sono, sonhasses?<br>
            E se, no teu sonho, subisses aos céus<br>
            e ali colhesses uma estranha e bela flor?<br>
            E se, ao acordares,<br>
            tivesses a flor em tua mão?<br>
            Ah, como seria então?<br><br>
        
            Bem, eu sei como seria... Eu teria você.<br>
            A mais linda flor do mundo, a flor dos meus sonhos.<br>
            Minha rosa azul.
        </p>
            
    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>